<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSRANK-轻量级普适性积分排名系统</title>
    <link rel="stylesheet" href="/static/css/admin_game_add.css" />
    <link rel="shortcut icon" href="/static/img/胜率.png">
</head>

<body>
    <div class="main_css">

        <div id="header_item">
            <table style="height:50px;width:100%">
                <tr>
                    <td style="width: 20%;">
                        <span style="font-family: 'Goudy Old Style';font-size: 30px;
            font-weight: 600;margin:20px">PSRANK</span>
                    </td>

                    <td style="width: 10%;">
                        <span class="add">
                            <a href="/admin/game/add" class="top">添加游戏</a>
                        </span>
                    </td>
                    <td style="width: 70%;">
                        <span class="rule">
                            <a href="/admin/game/rule" class="top">设置规则</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <div id="middle">

            <div id="sidebar_item">
                <div style="margin: 100px 0;">
                    <span class="home">
                        <a href="/admin/home/application" class="top">主页</a>
                    </span>
                    <span class="game">
                        <a href="/admin/game/add" class="top">游戏</a>
                    </span>
                    <span class="judgement">
                        <a href="/admin/judgement/person" class="top">裁判</a>
                    </span>
                    <span class="checker">
                        <a href="/admin/checker/yet" class="top">审核</a>
                    </span>
                </div>
            </div>

            <div class="content_right">


                <div style="width:40%;height:100%;float:left;margin:60px 0 0 0;">

                    <div class="section11">

                        <div class="common_game">常见游戏</div>
                        <div style="display: inline-block;width:100%;margin:10px 0">

                            <div style="width:50%;height:100%;float:left;">
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">汉诺塔</a>
                                </div>
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">齐心火车</a>
                                </div>
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">背夹球</a>
                                </div>
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">撕名牌</a>
                                </div>
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">不倒森林</a>
                                </div>
                            </div>

                            <div style="width:50%;height:100%;float:left;">
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">手忙脚乱</a>
                                </div>
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">珠行千里</a>
                                </div>
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">鼓动人心</a>
                                </div>
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">蒙眼对打</a>
                                </div>
                                <div class="item">
                                    <a href="" style="text-decoration: none;color:black">连连看</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="section12">
                        <form method="post" action="">

                            <div class="section121">创建游戏</div>
                            <input type="text" placeholder="请输入游戏名称">
                            <input type="text" placeholder="请输入裁判">
                            <button type="submit" class="button" style="background-color: #f2f2f2;">确定</button>

                        </form>
                    </div>

                </div>
                <div style="width:60%;height:100%;float:right;margin-top:60px">

                    <form method="post" action="">
                        <table cellspacing="0" style="line-height:50px;margin:20px auto;width:95%">

                            <tr style="background-color: #f2f2f2;">
                                <td style="width: 80%;padding-left:30px;">巨人脚步</td>
                                <td style="width: 10%;">
                                    <button type="submit">修改</button>
                                </td>
                                <td style="width: 10%;">
                                    <button type="submit" style="color: #D9001B;">删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 80%;padding-left:30px;">同心鼓</td>
                                <td style="width: 10%;">
                                    <button type="submit">修改</button>
                                </td>
                                <td style="width: 10%;">
                                    <button type="submit" style="color: #D9001B;">删除</button>
                                </td>
                            </tr>
                            <tr style="background-color: #f2f2f2;">
                                <td style="width: 80%;padding-left:30px;">棒球英豪</td>
                                <td style="width: 10%;">
                                    <button type="submit">修改</button>
                                </td>
                                <td style="width: 10%;">
                                    <button type="submit" style="color: #D9001B;">删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 80%;padding-left:30px;">多人跳绳</td>
                                <td style="width: 10%;">
                                    <button type="submit">修改</button>
                                </td>
                                <td style="width: 10%;">
                                    <button type="submit" style="color: #D9001B;">删除</button>
                                </td>
                            </tr>
                            <tr style="background-color: #f2f2f2;">
                                <td style="width: 80%;padding-left:30px;">N人N足</td>
                                <td style="width: 10%;">
                                    <button type="submit">修改</button>
                                </td>
                                <td style="width: 10%;">
                                    <button type="submit" style="color: #D9001B;">删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 80%;padding-left:30px;">极限飞盘</td>
                                <td style="width: 10%;">
                                    <button type="submit">修改</button>
                                </td>
                                <td style="width: 10%;">
                                    <button type="submit" style="color: #D9001B;">删除</button>
                                </td>
                            </tr>
                            <tr style="background-color: #f2f2f2;">
                                <td style="width: 80%;padding-left:30px;">无敌风火轮</td>
                                <td style="width: 10%;">
                                    <button type="submit">修改</button>
                                </td>
                                <td style="width: 10%;">
                                    <button type="submit" style="color: #D9001B;">删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="height: 50px;"></td>
                            </tr>
                            <tr style="background-color: #f2f2f2;">
                                <td colspan="3" style="height: 50px;"></td>
                            </tr>
                            <tr>
                                <td colspan="3" style="height: 50px;"></td>
                            </tr>
                            <tr style="background-color: #f2f2f2;">
                                <td colspan="3" style="height: 50px;"></td>
                            </tr>

                        </table>
                    </form>

                </div>


            </div>

        </div>

    </div>
</body>

</html>