<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSRANK-轻量级普适性积分排名系统</title>
    <link rel="stylesheet" href="/static/css/admin_judgement_person.css" />
    <link rel="shortcut icon" href="/static/img/胜率.png">
</head>

<body>
    <div class="main_css">

        <div id="header_item">
            <table style="height: 50px;width:100%">
                <tr>
                    <td style="width: 20%;">
                        <span style="font-family: 'Goudy Old Style';font-size: 30px;
    font-weight: 600;margin:20px">PSRANK</span>
                    </td>
                    <td style="width: 10%;">
                        <span class="person">
                            <a href="/admin/judgement/person" class="top">个人</a>
                        </span>
                    </td>
                    <td style="width: 70%;">
                        <span class="group">
                            <a href="/admin/judgement/group" class="top">小组</a>
                        </span>
                    </td>
                </tr>
            </table>




        </div>

        <div id="middle">

            <div id="sidebar_item">
                <div style="margin: 100px 0;">
                    <span class="home">
                        <a href="/admin/home/application" class="top">主页</a>
                    </span>
                    <span class="game">
                        <a href="/admin/game/add" class="top">游戏</a>
                    </span>
                    <span class="judgement">
                        <a href="/admin/judgement/person" class="top">裁判</a>
                    </span>
                    <span class="checker">
                        <a href="/admin/checker/yet" class="top">审核</a>
                    </span>
                </div>
            </div>


            <div class="content_right">
                <div class="section1">
                    <table cellspacing="0" style="text-align: center;margin:0 auto;width:100%">
                        <thead>
                            <th style="width: 15%;">游戏名称</th>
                            <th style="width: 15%;">个人</th>
                            <th style="width: 25%;">奖惩(x)</th>
                            <th style="width: 25%;">排序方式:
                                <select style="border: 0;text-align:center">
                                    <option>时间</option>
                                    <option>游戏名称</option>
                                    <option>用户名</option>
                                </select>
                            </th>
                            <th style="width: 20%;">
                                <form>
                                    <input type="text" class="search">
                                </form>
                            </th>
                        </thead>
                        <tr style="background-color: #f2f2f2;">
                            <td>撕名牌</td>
                            <td>PSRANK</td>
                            <td>
                                <form>
                                    <input type="text" class="reward">
                                </form>
                            </td>
                            <td>
                                <button>执行</button>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>汉诺塔</td>
                            <td>f</td>
                            <td>
                                <form>
                                    <input type="text" class="reward">
                                </form>
                            </td>
                            <td>
                                <button>执行</button>
                            </td>
                            <td></td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td>极限飞盘</td>
                            <td>317</td>
                            <td>
                                <form>
                                    <input type="text" class="reward">
                                </form>
                            </td>
                            <td>
                                <button>执行</button>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>同心鼓</td>
                            <td>linlin</td>
                            <td>
                                <form>
                                    <input type="text" class="reward">
                                </form>
                            </td>
                            <td>
                                <button>执行</button>
                            </td>
                            <td></td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td>撕名牌</td>
                            <td>小羊</td>
                            <td>
                                <form>
                                    <input type="text" class="reward">
                                </form>
                            </td>
                            <td>
                                <button>执行</button>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>汉诺塔</td>
                            <td>小陈</td>
                            <td>
                                <form>
                                    <input type="text" class="reward">
                                </form>
                            </td>
                            <td>
                                <button>执行</button>
                            </td>
                            <td></td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td colspan="5" style="height: 50px;"></td>
                        </tr>
                        <tr>
                            <td colspan="5" style="height: 50px;"></td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td colspan="5" style="height: 50px;"></td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>

    </div>
</body>

</html>