<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSRANK-轻量级普适性积分排名系统</title>
    <link rel="stylesheet" href="/static/css/admin_checker_already.css" />
    <link rel="shortcut icon" href="/static/img/胜率.png">
</head>

<body>
    <div class="mian_css">
        <div id="header_item">
            <table style="height:50px;width:100%">
                <tr>
                    <td style="width: 20%;">
                        <span
                            style="font-family: 'Goudy Old Style';font-size: 30px;font-weight: 600;margin:20px">PSRANK</span>
                    </td>
                    <td style="width: 10%;">
                        <span class="yet">
                            <a href="/admin/checker/yet" class="top">待审批</a>
                        </span>
                    </td>
                    <td style="width: 70%;">
                        <span class="already">
                            <a href="/admin/checker/already" class="top">已审批</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <div id="middle">
            <div id="sidebar_item">
                <div style="margin: 100px 0;">
                    <span class="home">
                        <a href="/admin/home/application" class="top">主页</a>
                    </span>
                    <span class="game">
                        <a href="/admin/game/add" class="top">游戏</a>
                    </span>
                    <span class="judgement">
                        <a href="/admin/judgement/person" class="top">裁判</a>
                    </span>
                    <span class="checker">
                        <a href="/admin/checker/yet" class="top">审核</a>
                    </span>
                </div>
            </div>


            <div class="content_right">
                <div class="section1">

                    <table cellspacing="0" class="table">
                        <thead style="line-height: 50px;">
                            <th style="width: 150px;">申请人</th>
                            <th style="width: 500px;">申请理由</th>
                            <th style="width: 150px;">申请时间</th>
                            <th style="width: 200px;">是否批准</th>
                        </thead>
                        <tr style="background-color: #f2f2f2;">
                            <td style="width: 100px;">PSRANK</td>
                            <td style="color: #0285BD;">本人因游戏中脚腕扭伤申请退出比赛</td>
                            <td>2023-01-03 13:00</td>
                            <td>
                                <button class="yes">是</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100px;">小羊</td>
                            <td style="color: #0285BD;">申请复核小组的汉诺塔成绩</td>
                            <td>2023-01-03 13:00</td>
                            <td>
                                <button class="no">否</button>
                            </td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td style="width: 100px;">linlin</td>
                            <td style="color: #0285BD;">申请复核本人的撕名牌成绩</td>
                            <td>2023-01-03 13:00</td>
                            <td>
                                <button class="no">否</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100px;">yoyo</td>
                            <td style="color: #0285BD;">本人家中突有急事申请退出比赛</td>
                            <td>2023-01-03 13:00</td>
                            <td>
                                <button class="yes">是</button>
                            </td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td style="width: 100px;">f</td>
                            <td style="color: #0285BD;">本人因有学术类科技比赛时间冲突申请退出比赛</td>
                            <td>2023-01-03 13:00</td>
                            <td>
                                <button class="yes">是</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100px;">小陈</td>
                            <td style="color: #0285BD;">本人因无法胜任组长职位申请更换XXX组员为组长</td>
                            <td>2023-01-03 13:00</td>
                            <td>
                                <button class="no">否</button>
                            </td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td colspan="5" style="height: 50px;"></td>
                        </tr>
                        <tr>
                            <td colspan="5" style="height: 50px;"></td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td colspan="5" style="height: 50px;"></td>
                        </tr>

                    </table>

                </div>
            </div>
            
        </div>
    </div>
</body>

</html>