<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSRANK-轻量级普适性积分排名系统</title>
    <link rel="stylesheet" href="/static/css/announcement.css" />
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="shortcut icon" href="/static/img/胜率.png">
</head>

<body>

    <form action="/announcement/search">
        <input type="text" class="search">
    </form>

    <div style="margin:50px auto;width:90%">
        <table class="table" style="text-align: center;">
            <thead style="font-size:x-large;font-weight:600;">
                <tr>
                    <th style="text-align: center;">ID</th>
                    <th style="text-align: center;">游戏活动名称</th>
                    <th style="text-align: center;">比赛时间</th>
                    <th style="text-align: center;">创建人</th>
                </tr>
            </thead>
            <tr>
                <td>001</td>
                <td><a href="/user_admin" class="name">xxx公司2023年团建活动</a></td>
                <td>2023-06-27 18:00-20:00</td>
                <td>xx负责人</td>
            </tr>
            <tr></tr>
            <tr>
                <td>002</td>
                <td><a href="/user_admin" class="name">xxx公司剧本式情景主题团建活动</a></td>
                <td>2023-06-01 14:00-18:00</td>
                <td>xx负责人</td>
            </tr>
            <tr>
                <td>003</td>
                <td><a href="/user_admin" class="name">XXX公司野外定向越野团建活动</a></td>
                <td>2023-05-31 8:00-10:00</td>
                <td>xx负责人</td>
            </tr>
            <tr>
                <td>004</td>
                <td><a href="/user_admin" class="name">XXX公司攻防箭团建活动</a></td>
                <td>2023-05-25 18:00-20:00</td>
                <td>xx负责人</td>
            </tr>
            <tr>
                <td>005</td>
                <td><a href="/user_admin" class="name">XXX学校趣味运动会</a></td>
                <td>2023-03-27 10:00-12:00</td>
                <td>xx学校</td>
            </tr>
            <tr>
                <td>006</td>
                <td><a href="/user_admin" class="name">XXX学校“全员加速，勇往直前”主题活动</a></td>
                <td>2023-02-23 18:00-20:00</td>
                <td>xx学校</td>
            </tr>
            <tr>
                <td>007</td>
                <td><a href="/user_admin" class="name">XXX高校“点燃正能量，引爆小宇宙”主题活动</a></td>
                <td>2022-01-27 14:00-16:00</td>
                <td>xx学校</td>
            </tr>
            <tr>
                <td>008</td>
                <td><a href="/user_admin" class="name">XXX高校“Fun肆嗨的旅图”主题活动</a></td>
                <td>2022-06-27 18:00-20:00</td>
                <td>xx学校</td>
            </tr>
        </table>
    </div>
    <div style="margin:50px auto;width:fit-content;">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</body>

</html>