<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSRANK-轻量级普适性积分排名系统</title>
    <link rel="stylesheet" href="/static/css/super_message.css" />
    <link rel="shortcut icon" href="/static/img/胜率.png">
</head>

<body>

    <div class="main_css">

        <div id="header_item">
            <table style="height: 50px;width:100%">
                <tr>
                    <td style="width: 20%;">
                        <span style="font-family: 'Goudy Old Style';font-size: 30px;
        font-weight: 600;margin:20px">PSRANK</span>
                    </td>
                    <td style="width: 10%;">
                        <span class="make_ann">
                            <a href="/super_admin/make_announcement" class="top">编辑公告</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="edit_admin">
                            <a href="/super_admin/edit_admin" class="top">编辑管理员</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="message">
                            <a href="/super_admin/message" class="top">系统通知</a>
                        </span>
                    </td>
                    <td style="width: 50%;">
                        <span class="rank">
                            <a href="/super_admin/ranking_message" class="top">活动排名</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <div id="middle">
            <div class="section">
                <span class="content">张三已成功加入您的活动：2023年PSRANK公司年度团建</span>
                <a href="" class="button">删除</a>
            </div>
            <div class="section">
                <span class="content">李四已成功加入您的活动：2023年PSRANK公司年度团建</span>
                <a href="" class="button">删除</a>
            </div>
            <div class="section">
                <span class="content">王五已成功加入您的活动：2023年PSRANK公司年度团建</span>
                <a href="" class="button">删除</a>
            </div>
            <div class="section">
                <span class="content">嘻嘻已成功加入您的活动：2023年PSRANK公司年度团建</span>
                <a href="" class="button">删除</a>
            </div>
            <div class="section">
                <span class="content">哈哈已成功加入您的活动：2023年PSRANK公司年度团建</span>
                <a href="" class="button">删除</a>
            </div>
            <div class="section">
                <span class="content">啦啦已成功加入您的活动：2023年PSRANK公司年度团建</span>
                <a href="" class="button">删除</a>
            </div>
            <div class="section">
                <span class="content">嘿嘿已成功加入您的活动：2023年PSRANK公司年度团建</span>
                <a href="" class="button">删除</a>
            </div>
        </div>

    </div>

</body>

</html>