<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSRANK-轻量级普适性积分排名系统</title>
    <link rel="stylesheet" href="/static/css/user_make_group.css" />
    <link rel="shortcut icon" href="/static/img/胜率.png">
</head>

<body>
    <div class="main_css">

        <div id="header_item">
            <table style="height: 50px;width:100%">
                <tr>
                    <td style="width: 20%;">
                        <span style="font-family: 'Goudy Old Style';font-size: 30px;
        font-weight: 600;margin:20px">PSRANK</span>
                    </td>
                    <td style="width: 10%;">
                        <span class="mine">
                            <a href="/user/mine" class="top">我的</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="make_group">
                            <a href="/user/make_group" class="top">小组</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="message">
                            <a href="/user/message" class="top">系统通知</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="rank">
                            <a href="/user/ranking_message" class="top">活动排名</a>
                        </span>
                    </td>
                    <td style="width: 40%;">
                        <span class="check">
                            <a href="/user/check" class="top">申请</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="middle">
            <form method="post" action="/user/ranking_message">
                <table style="margin:0 auto;width:100%">
                    <tr>
                        <td style="width:25%;text-align:right;">小组名称</td>
                        <td style="width:75%;"><input type="text" class="name" name="name"></td>
                    </tr>
                    <tr>
                        <td style="width:25%;text-align:right;">小组口号</td>
                        <td style="width:75%;"><textarea class="name" name="introduction"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="margin: 50px auto;width:fit-content">
                                <button type="submit">创建</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;text-align:right;">成员邀请码</td>
                        <td style="width:75%;"><input type="text" class="name" name="name"></td>
                    </tr>
                    <tr>

                        <td colspan="2">
                            <div style="margin: 50px auto;width:fit-content">
                                <button type="submit">加入</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</body>

</html>