<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSRANK-轻量级普适性积分排名系统</title>
    <link rel="stylesheet" href="/static/css/user_rank.css" />
    <link rel="shortcut icon" href="/static/img/胜率.png">
</head>

<body>
    <div class="main_css">

        <div id="header_item">
            <table style="height: 50px;width:100%">
                <tr>
                    <td style="width: 20%;">
                        <span style="font-family: 'Goudy Old Style';font-size: 30px;
        font-weight: 600;margin:20px">PSRANK</span>
                    </td>
                    <td style="width: 10%;">
                        <span class="mine">
                            <a href="/user/mine" class="top">我的</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="make_group">
                            <a href="/user/make_group" class="top">小组</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="message">
                            <a href="/user/message" class="top">系统通知</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="rank">
                            <a href="/user/ranking_message" class="top">活动排名</a>
                        </span>
                    </td>
                    <td style="width: 40%;">
                        <span class="check">
                            <a href="/user/check" class="top">申请</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <div id="middle">
            <div class="section1">
                <span class="content">第一名：碱基互补配队 （我）</span>
                <a href="" class="button">详情</a>
            </div>
            <div class="section2">
                <span class="content">第二名：基因重组</span>
            </div>
            <div class="section3">
                <span class="content">第三名：芭比公组</span>
            </div>
            <div class="section">
                <span class="content">第四名：电组</span>
            </div>
            <div class="section">
                <span class="content">第五名：斗地组</span>
            </div>
            <div class="section">
                <span class="content">第六名：下一组</span>
            </div>
        </div>

    </div>
</body>

</html>