<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSRANK-轻量级普适性积分排名系统</title>
    <link rel="stylesheet" href="/static/css/user_mine.css" />
    <link rel="shortcut icon" href="/static/img/胜率.png">
</head>

<body>
    <div class="main_css">

        <div id="header_item">
            <table style="height: 50px;width:100%">
                <tr>
                    <td style="width: 20%;">
                        <span style="font-family: 'Goudy Old Style';font-size: 30px;
        font-weight: 600;margin:20px">PSRANK</span>
                    </td>
                    <td style="width: 10%;">
                        <span class="mine">
                            <a href="/user/mine" class="top">我的</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="make_group">
                            <a href="/user/make_group" class="top">小组</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="message">
                            <a href="/user/message" class="top">系统通知</a>
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span class="rank">
                            <a href="/user/ranking_message" class="top">活动排名</a>
                        </span>
                    </td>
                    <td style="width: 40%;">
                        <span class="check">
                            <a href="/user/check" class="top">申请</a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>

        <div id="middle">
            <div style="width:75%;height:100%;float:left;">
                <div class="section1">
                    <table cellspacing="0" style="width: 100%;">
                        <tr style="background-color: #f2f2f2;">
                            <td class="use" style="background-image: url(/static/img/用户.png);">用户</td>
                            <td style="width: 80%;">PSRANK</td>
                        </tr>
                        <tr>
                            <td class="use" style="background-image: url(/static/img/文件-明细记录.png);">积分</td>
                            <td style="width: 80%;">6666</td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td class="use" style="background-image: url(/static/img/overview_actived.png);">总游戏</td>
                            <td style="width: 80%;">7个</td>
                        </tr>
                        <tr>
                            <td class="use" style="background-image: url(/static/img/贡献.png);">贡献</td>
                            <td style="width: 80%;">80%</td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td class="use" style="background-image: url(/static/img/朋友.png);">朋友</td>
                            <td style="width: 80%;">8人</td>
                        </tr>
                        <tr>
                            <td class="use" style="background-image: url(/static/img/设置.png);">设置</td>
                            <td style="width: 80%;"></td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td colspan="2" style="height: 50px;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 50px;"></td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td colspan="2" style="height: 50px;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 50px;"></td>
                        </tr>
                        <tr style="background-color: #f2f2f2;">
                            <td colspan="2" style="height: 50px;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 50px;"></td>
                        </tr>

                    </table>
                </div>
            </div>
            <div style="width:25%;height:100%;float:right;">
                <div class="section21">
                    <img src="/static/img/头像.jpg" width=100% height=100%>
                </div>
                <div style="min-width: 200px;">
                    <table border="1" cellspacing="0" class="table">
                        <tr>
                            <td colspan="3" style="text-align: left;">->TOP RATING</td>
                        </tr>
                        <tr>
                            <th>排名</th>
                            <th>用户</th>
                            <th>分数</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>PSRANK</td>
                            <td>6666</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>yoyo</td>
                            <td>3600</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>小月</td>
                            <td>3542</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>哈哈哈</td>
                            <td>2854</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>刘木木</td>
                            <td>2453</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>马丁丁</td>
                            <td>1998</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</body>

</html>